@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		min-width: 0;
	}

	:root {
		--color-primary: 69, 223, 164;
		--color-primary-on: 20, 22, 22;
		--color-primary-container: 0, 81, 55;
		--color-primary-container-on: 169, 242, 205;
		--color-primary-inverse: 33, 106, 77;
		--color-primary-foreground: 0, 56, 37;
		--color-secondary: 131, 213, 198;
		--color-secondary-on: 0, 55, 48;
		--color-secondary-container: 0, 80, 71;
		--color-secondary-container-on: 159, 242, 226;
		--color-tertiary: 254, 176, 211;
		--color-tertiary-on: 82, 29, 58;
		--color-tertiary-container: 109, 51, 81;
		--color-tertiary-container-on: 255, 216, 231;
		--color-surface: 15, 21, 17;
		--color-surface-on: 222, 228, 222;
		--color-surface-variant: 64, 73, 67;
		--color-surface-variant-on: 191, 201, 193;
		--color-background: 23, 25, 25;
		--color-background-on: 222, 228, 222;
		--color-outline: 148, 163, 184;
		--color-outline-variant: 64, 73, 67;
		--color-error: 96, 16, 16;
		--color-error-on: 222, 228, 222;
		--color-error-container: 147, 0, 10;
		--color-error-container-on: 255, 218, 214;
		--color-success: 131, 213, 198;
		--color-success-on: 222, 228, 222;
		--color-success-container: 0, 80, 71;
		--color-success-container-on: 159, 242, 226;
	}

	/* Basic editor styles */
	.tiptap {
		:first-child {
			margin-top: 0;
		}

		/* List styles */
		ul,
		ol {
			padding: 0 1rem;
			margin: 1.25rem 1rem 1.25rem 0.4rem;

			li p {
				margin-top: 0.25em;
				margin-bottom: 0.25em;
			}
		}

		/* Heading styles */
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			line-height: 1.1;
			margin-top: 2.5rem;
			text-wrap: pretty;
		}

		h1,
		h2 {
			margin-top: 3.5rem;
			margin-bottom: 1.5rem;
		}

		h1 {
			font-size: 1.4rem;
		}

		h2 {
			font-size: 1.2rem;
		}

		h3 {
			font-size: 1.1rem;
		}

		h4,
		h5,
		h6 {
			font-size: 1rem;
		}

		/* Code and preformatted text styles */
		code {
			background-color: var(--purple-light);
			border-radius: 0.4rem;
			color: var(--black);
			font-size: 0.85rem;
			padding: 0.25em 0.3em;
		}

		pre {
			background: var(--black);
			border-radius: 0.5rem;
			color: var(--white);
			margin: 1.5rem 0;
			padding: 0.75rem 1rem;

			code {
				background: none;
				color: inherit;
				font-size: 0.8rem;
				padding: 0;
			}
		}

		blockquote {
			border-left: 3px solid var(--gray-3);
			margin: 1.5rem 0;
			padding-left: 1rem;
		}

		hr {
			border: none;
			border-top: 1px solid var(--gray-2);
			margin: 2rem 0;
		}
	}
}
